@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;800&display=swap');

/* ======GENERAL====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle, #f8f8f8, #ffffff);
    color: #000;
    font-family: 'Roboto Slab', serif;
}

.container {
    margin: 10px auto;
    width: 90%;
    max-width: 95%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "HEADER"
        "CONTENIDO"
        "FUNCION"
        "FOOTER";
}

.container>div,
.container .HEADER
.container .CONTENIDO
.container .FUNCION
.container .FOOTER{
    padding: 20px;
    border-radius: 4px;
  }

.HEADER {
    grid-area: HEADER;
    background-color: rgb(55, 54, 54);
    color: #fffefe;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;

}

.FUNCION {
    grid-area: FUNCION;
    background-color: rgba(206, 208, 209, 0.36);
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
button{
    padding: 10px;
    background-color: rgb(53, 67, 67);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    width: 70%;
    font-family: 'Roboto Slab', serif;
    box-shadow: 1px 0px black;

}
button:hover{
    background-color: rgb(99, 86, 86);
}

.CONTENIDO {
    grid-area: CONTENIDO;
    background-color: rgba(214, 214, 217, 0.113);
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content:space-evenly;
    list-style: none;
}
.CONTENIDO ol li{
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    font-size: 25px;

}


.FOOTER {
    grid-area: FOOTER;
    background-color: rgb(55, 54, 54);
    color: #fffefe;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;

}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        margin: 35px auto;
        width: 90%;
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        grid-template-areas:
            "HEADER HEADER"
            "FUNCION CONTENIDO"
            "FUNCION CONTENIDO"
            "FOOTER FOOTER";
    }
    .FUNCION{
        text-align: center;
    }

}

@media screen and (min-width: 1024px) {
    .container {
        margin: 70px auto;
        width: 90%;
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        grid-template-areas:
            "HEADER HEADER HEADER HEADER"
            "FUNCION CONTENIDO CONTENIDO CONTENIDO"
            "FUNCION CONTENIDO CONTENIDO CONTENIDO"
            "FUNCION CONTENIDO CONTENIDO CONTENIDO"
            "FOOTER FOOTER FOOTER FOOTER";
    }
    .FUNCION{
        text-align: center;
    }

    
}